@model IEnumerable<HW6No3.Models.products>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h3>EDIT </h3>

<table class="table" id="CustomerGrid">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brands.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories.category_name)
            </td>
        </tr>
    }
</table>

<input type="text" name="simplAttr" id="Name" class="form-control" placeholder="Product Name" required="" />
<br />
<input type="text" name="simplAttr" id="Year" class="form-control" placeholder="Year" required="" />
<br />
<input type="text" name="simplAttr" id="Price" class="form-control" placeholder="Price" required="" />
<br />

<label for="drop-down">Brand:</label>
<select name="drop-down" id="Brand">
    <option value="Electra">Electra</option>
    <option value="Haro">Haro</option>
    <option value="Heller">Heller</option>
    <option value="Pure Cycles">Pure Cycles</option>
    <option value="Ritchey">Ritchey</option>
    <option value="Strider">Strider</option>
    <option value="Sun Bicycles">Sun Bicycles</option>
    <option value="Surly">Surly</option>
    <option value="Trek">Trek</option>
</select>
<br />

<label for="drop-down">Category:</label>
<select name="drop-down" id="Category">
    <option value="Children Bicycles">Children Bicycles</option>
    <option value="Comfort Bicycles">Comfort Bicycles</option>
    <option value="Cruisers Bicycles">Cruisers Bicycles</option>
    <option value="Pure Cycles">Pure Cycles</option>
    <option value="Cyclocross Bicycles">Cyclocross Bicycles</option>
    <option value="Electric Bikes">Electric Bikes</option>
    <option value="Sun Bicycles">Sun Bicycles</option>
    <option value="Mountain Bikes">Mountain Bikes</option>
    <option value="Road Bikes">Road Bikes</option>
</select>
<br />


<div class="form-group col-md-6">
    <div style="float: right; display:inline-block;">
        <input class="btn btn-primary" name="submitButton" id="btnSave" value="Save" type="button">
    </div>
</div>
<br />
