@model IPagedList<HW6No3.Models.products>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>


@using (Html.BeginForm("Index", "products", FormMethod.Post))
{
    <input type="text" name="search" placeholder="Enter Name" />
    <input type="submit" name="submit" value="search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brands.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories.category_name)
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">EDIT</button>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">DELETE</button>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">DETAILS</button>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, i => Url.Action("Index", "products", new { i, search = Request.QueryString["search"] }))

<!--MODAL POPUP-->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

