@model IPagedList<HW6No3.Models.products>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>


@using (Html.BeginForm("Index", "products", FormMethod.Post))
{
    <input type="text" name="search" placeholder="Enter Name" id="text"/>
    <input type="submit" name="submit" class="btn btn-warning btn-sm" value="SEARCH" /> 
    <button type="button" id="createCompanyButton" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">ADD</button>
}

    <table class="table" id="CustomerGrid">
    <tr>
        <th>
            Name
        </th>
        <th>
            Year
        </th>
        <th>
            Price
        </th>
        <th>
            Brand
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model_year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brands.brand_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categories.category_name)
            </td>
            <td>
                <button type="button" id="btnEdit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" >EDIT</button>
                <button type="button" id="btnDelete" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal" data-id="@item.product_id">DELETE</button>
                <button type="button" id="btnDetails" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">DETAILS</button>
            </td>
        </tr>
        } 
    
</table>
    <div id="div1"></div>
    @Html.PagedListPager(Model, i => Url.Action("Index", "products", new { i, search = Request.QueryString["search"] }))

<div class="modal fade" role="dialog" id="createCompanyFormModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div id="createCompanyFormModalbody" class="modal-body">

            </div>
            <div class="modal-footer">
                <br />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {

            //Hierdie gedeelte roep ADD modal pop up, in die modal pop up stuur jy die request om te add na n Add controller         
            $(document).on('click', '#createCompanyButton', function () {

                $.ajax({
                    url: '/products/Add',
                    type: 'GET',
                    success: function (data) {
                        $('#createCompanyFormModalbody').html(data);
                        $('#createCompanyFormModal').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the service!")
                    }
                });
            });


            //Hierdie gedeelte roep EDIT modal pop up, in die modal pop up stuur jy die request om te add na n EDIT controller         
            $(document).on('click', '#btnEdit', function () {
               
                $.ajax({
                    url: '/products/Edit',
                    type: 'GET',
                    success: function (data) {
                        $('#createCompanyFormModalbody').html(data);
                        $('#createCompanyFormModal').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the service!")
                    }
                });
            });


            //Hierdie gedeelte roep DELETE modal pop up, in die modal pop up stuur jy die request om te add na n DELETE controller

            $("#CustomerGrid #btnDelete").click(function () {
                /*var customerId = $(this).closest("tr").find("td").eq(0).text();*/
                var customerId = $(this).data('id');
                console.log(customerId)
                    $.ajax({
                        type: "POST",
                        url: '/products/Delete',
                        data: '{customerId: "' + customerId + '" }' ,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (data) {
                            $('#createCompanyFormModalbody').html(data);
                            $('#createCompanyFormModal').modal('show');
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            

            //Hierdie gedeelte roep DETAILS modal pop up, in die modal pop up stuur jy die request om te add na n DETAILS controller         
            $(document).on('click', '#btnDetails', function () {

                $.ajax({
                    url: '/products/Details',
                    type: 'GET',
                    success: function (data) {
                        $('#createCompanyFormModalbody').html(data);
                        $('#createCompanyFormModal').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the service!")
                    }
                });
            });
        });
    </script>

